@model Garage2.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Owner</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            <label>Lincense Number</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseNr)
        </dd>

        <dt>
            <label>Type of Vehicle (old)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfVehicle)
        </dd>

        <dt>
            <label>Type of Vehicle (new)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfVehicleNew)
        </dd>

        <dt>
            <label>Make and model</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeAndModel)
        </dd>

        <dt>
            <label>Color</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            <label>Length</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            <label>Weight</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            <label>Number of Wheels</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrOfWheels)
        </dd>

        <dt>
            <label>Date and Time parked</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeParked)
        </dd>

        <dt>
            <label>Currently parked</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parked)
        </dd>

        <dt>
            <label>Parking lot(s)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingLot)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
