@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Owner</label>
        </th>
        <th>
            <label>Type of vehicle</label>
        </th>
        <th>
            <label>License Number</label>
        </th>
        <th>
            <label>Date and time parked</label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfVehicleNew)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeParked)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
