@model Garage2.Models.Vehicle

<td id="@String.Format("timeParkedTableData{0}",Model.Id)">
    @(Model.Parked?Html.DisplayFor( modelItem => Model.TimeParked ):new MvcHtmlString(""))
</td>

<td id="@String.Format("parkedTableData{0}",Model.Id)">
    <form id="@String.Format("parkToggleForm{0}",Model.Id)" action="@Url.Action("/Edit/"+Model.Id)" method="post">
        <input @(Model.Parked?"checked":"") class="check-box" type="checkbox" onclick="$(@Html.Raw(String.Format("'#parkToggleForm{0}'", Model.Id))).submit(togglePark(@Model.Id))" />
    </form>
</td>
