@model IEnumerable<Garage2.Models.Vehicle>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form method="get" id="searchParams">
    Owner
    <input type="search" name="owner" /><br />
    LicenseNr
    <input type="search" name="licenseNr" /><br />


    <input type="submit" value="Search"/>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>   
        <th>
            @Html.DisplayNameFor(model => model.LicenseNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfVehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeParked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parked)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfVehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeParked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parked)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>