@model IEnumerable<Garage2.Models.Vehicle>

<form method="get" id="searchParams">
    Owner
    <input type="search" name="Owner" /><br />

    LicenseNr
    <input type="search" name="LicenseNr" /><br />
    Length
    <input type="search" name="Length" /><br />
    Weight
    <input type="search" name="Weight" /><br />
    @Html.EnumDropDownListFor(model => model.First().TypeOfVehicle)<br />

    Any
    <input type="checkbox" name="Any" value="Any" /><br />

    <input type="submit" value="Search"/>
</form>

<table class="table">
    <tr>
        <th>
            <label>Owner</label>
        </th>   
        <th>
            <label>License Number</label>
        </th>
        <th>
            <label>Type of Vehicle</label>
        </th>
        <th>
            <label>Length(m)</label>
        </th>
        <th>
            <label>Weight(kg)</label>
        </th>
        <th>
            <label>Parking date</label>
        </th>
        <th>
            <label>Currently parked</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfVehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeParked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parked)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>