@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Statistics";
}

<h3>Availible Parking Spaces</h3>

<!--Vehicle Count-->
<h3>Vehicle Count</h3>
<b>Cars: </b> @Model.Where(v => v.TypeOfVehicle == Garage2.Models.VehicleType.Car).Count()<br />
<b>SUVs: </b> @Model.Where(v => v.TypeOfVehicle == Garage2.Models.VehicleType.SUV).Count()<br />
<b>Motorcycles: </b> @Model.Where(v => v.TypeOfVehicle == Garage2.Models.VehicleType.Motorcycle).Count()<br />
<b>CarTrailers: </b> @Model.Where(v => v.TypeOfVehicle == Garage2.Models.VehicleType.CarTrailer).Count()<br />
<b>Trucks: </b> @Model.Where(v => v.TypeOfVehicle == Garage2.Models.VehicleType.Truck).Count()<br />
@if (Model.Where(v => v.TypeOfVehicle == Garage2.Models.VehicleType.None).Count() > 0)
{
    @:There should not be any vehicles with the type <b>None</b> in the garage but apparently there are<br />
}

<h3>Total time parked</h3>
<p>
    @Model.Where(v => v.Parked == true).Sum(v => v.HoursParked()) Hours
</p>
<p>
    The total parking price is @Model.Where(v => v.Parked == true).Sum(v => v.HoursParked() * 60) SEK
</p>

<h3>Trivia: </h3>
<b>Number of wheels in the garage:</b> @Model.Where(v => v.Parked == true).Sum(v => v.NrOfWheels)<br />

@{
    Dictionary<string, int> OwnerTable = new Dictionary<string, int>();

    foreach (var item in Model)
    {
        if (item.Parked)
        {
            if (!OwnerTable.ContainsKey(item.Owner))
            {
                OwnerTable.Add(item.Owner, 0);
            }
            OwnerTable[item.Owner] += (item.HoursParked() * 60);
        }
    }

    var ownerWithMostDebt = OwnerTable.OrderByDescending(r => r.Value).First();

    @: <span><b>@ownerWithMostDebt.Key</b> has to pay the most pay at @ownerWithMostDebt.Value SEK</span><br />
    <b>Average time parked: </b> @Model.Where(v => v.Parked).Average(v => v.HoursParked()) @:hours (Averaging @Model.Where(v => v.Parked).Average(v => v.HoursParked() * 60) SEK parking fees)
}